// Base Colors
$mainGreen:#D9E9D6;
$txtCol: #50525E;
$darkGreen:#CFDFCC;
$subCol: #94979D;
$background: #FCFCFF;
$black: #010000;
$lightGrey: #ccc;
$logoGreen: #84C262;
$whiteSmoke: #F9F9F9;

$white: #ffffff;
$red: #bc3030;
$lightBlue: #69b3d0;


@mixin translateY($e) {
    -webkit-transform: translateY($e);
    -moz-transform: translateY($e);
    transform: translateY($e);
}

@mixin transition($e) {
    -webkit-transition:$e;
    -moz-transition:$e;
    transition:$e;
}