// Font weights
// regular 400
// bold 700

html {
    font-size: 10px;
}

*, *:before, *:after  {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, #root, .container {
    height: 100%;
}



.hide {
    display: none !important;
}


.hidden { display:none; }
.clear { clear: both; }

.float-left { float: left; }
.float-right { float: right; }

body {
    font-family: 'Lato',helvetica,arial,clean,sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
    color: $background;
    padding: 0;
    margin: 0;
}

a, p, strong {
    line-height: 2.4rem;
}

a {
    color: $black;
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:visited {
        color: $darkGreen;
    }

}

a, a:hover {
    @include transition(all .4s ease-in-out);
}

p {
    margin: 0 0 1rem 0;
}

strong {
    font-weight: 700;
}

ul.showList li {
    list-style-type: disc;
    margin: 20px;
}

// headings
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  

h1{
    color: $txtCol;
    font-size: 2.5rem;
    font-weight: bold;
}
h2{
    color: $subCol;
    font-size: 1.5rem;
}

h3{
    color: $txtCol;
    font-size: 2rem;
    font-weight: bold;
}

h4{
    color: $txtCol ;
    font-size: 1.25rem;
    font-weight: bold;
    margin-left: 2.5em;
  }
  h5{
    margin-left:1.5rem;
    color: $txtCol ;
    font-size: 1.3rem;
    font-weight: bold;
  }

h6{
    margin-left:1rem;
    color: $txtCol ;
    font-size: 1.25rem;
    font-weight: bold;
  }

textarea{
    border-color:transparent;
    border-style: none; 
    resize:none;
}

form{
    padding: 1.5rem;
}

label{
    font-weight: bold;
    color: $txtCol;
}


button {
    margin-top:3rem;
    background-color: $white;
    border-color: $txtCol;
    color: $txtCol;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    border-radius: 3rem;
    font-size: 1.5rem;
    width: 12rem;
    height: 3.5rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  button:focus, button:active, button.active, :focus:active {
    background-image: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: $background;
  }



// Page transitions
.anim-appear {
    opacity: 0;
}
 
.anim-appear.anim-appear-active{
    opacity: 1;
    @include transition(opacity .8s ease-in);
}

// Layout

.main, .sidebar, .notes_sidebar {
    float: left;
    height: calc(100% - 65px);
}

.layout_props {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.main {
    width: 100%;
}





