.algorithm_wrap {
    position: fixed;
    margin-left: 15rem;
    width: 100% - 15%;
    padding: 0;

    .title{
        padding-top: 7.5rem;
        text-align: center;
    }
    .grid{
        padding-top: 5rem;
        max-width: 100% - 15%;
    }

    .canvasDialog{
        margin-top:2rem;
        overflow:auto;
        height:35rem;
        background: $whiteSmoke;
        
    .drawingDialog{
        background: $whiteSmoke;
    }
    }
    
    .canvas{
        margin-right:2rem;
        border-radius: 2rem;
        box-shadow: 0 3px 8px #888888;
        height:38rem;
        border-spacing: 2rem;
        background-color: $white;
        .drawing{
            border-radius: 2rem;
            background-color: $white;
        }
    }

    .second_column{
        margin-left:2rem;
        border-radius: 2rem;
        box-shadow: 0 3px 8px #888888;
        height:38rem;
        border-spacing: 2rem;
        padding-top:1rem;
        background-color: $white;
        
        h3{
            font-size:1.15rem;
            padding-left:1rem;
            padding-top:0.5rem;
            clear: both; 
            float: left;      
        }
    }

      .player{
        // margin-left:1.5rem;
        display: inline-block;
     //   justify-content: space-between;

     .player-controls{
        background-color: $background;
        border-color: $background;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        font-size: 2.5rem;
        width: 3.5rem;
        height: 3.5rem;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 2px solid $background;
     }

     .player-controls:focus, .player-controls:active, .player-controls.active, :focus:active {
        border: 2px solid $background;
      }

     .slider {
        position: relative;
        top: -8px;
        margin-bottom: 2rem;
        -webkit-appearance: none;
        width: 25rem;
        height: 10px;
        position: relative;
        border-radius: 5px;   
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
        border-color: $background;
      }
      
      .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 50%; 
        background: $logoGreen;
        cursor: pointer;
      }

              /* Mouse-over effects */
    .slider:hover {
        opacity: 1; /* Fully shown on mouse-over */
        border-color: $background;
    }
      
      .slider::-moz-range-thumb {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: $logoGreen;
        cursor: pointer;
      }

    }

}