.about_wrap {
    position: fixed;
    margin-left: 15rem;
    width: 100% - 15%;
    padding: 0;

    .title{
        padding-top: 7.5rem;
        text-align: center;
    }

    .sub_text{
        padding-top: 1rem;
        text-align: center;
    }

    .canvas{
        margin:2rem;
        border-radius: 2rem;
        padding-top: 0em;
        box-shadow: 0 3px 8px #888888;
        height:38rem;
        width: 60rem;
        border-spacing: 2rem;
        background-color: $white;
        
    }
    
    .text {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .action_buttons button{
        margin:3rem;
        display: inline-block;
     //   justify-content: space-between;
    }

    .load{
        margin-top:2rem;
        overflow:auto;
        height:35rem;
        background: $whiteSmoke;
    }

    
}


