.performance_wrap {
    position: fixed;
    margin-left: 15rem;
    width: 100% - 17%;
    padding: 0;


    .title{
        padding-top: 7.5rem;
        text-align: center;
    }

    .sub_text{
        padding-top: 1.5rem;
        text-align: center;

        
    .tooltip{
        display:inline;
        position:relative;  
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: bold;
        color: $txtCol;
    }

    

 .tooltip:hover:after {
    width: 12rem;
    padding: 0.5rem;
    top: 100%;
    border-color: $txtCol;
    border-radius: 5px;
    left: 50%; 
    margin-left: -60px; 
    content: attr(title);
    font-size: 1.2rem;
    position: absolute;
    background-color: $white;
    border-width: 2px;
    border-style: solid;
  }
}

    .grid{
        padding-top: 5rem;
        max-width: 100% - 17%;
    }

    .first_column{
        margin-top:2.15rem;
        margin-right:2rem;
        border-radius: 2rem;
        box-shadow: 0 2px 8px #888888;
        height:38.15rem;
        border-spacing: 2rem;
        background-color: $white;

        .chart{
            padding-top: 2rem;
            padding-left: 2rem;
            padding-right: 2rem;
        }
        
    }
    .second_column{
        margin-top:3rem;
        margin-left:2rem;
        border-radius: 2rem;
        height:38rem;
        border-spacing: 2rem;
        display: inline-block;

        .checkbox{
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        float: left;
        clear: left;
        }
    }

    .action_buttons button{
        width: 16rem;
        margin-left:3rem;
        margin-bottom:3rem;
        margin-right:3rem;
        margin-top : 6rem;
        display: inline-block;
    }



}