.performance_wrap {
    position: fixed;
    margin-left: 15rem;
    width: 100% - 15%;
    padding: 0;

    .title{
        padding-top: 7.5rem;
        text-align: center;
    }

    .grid{
        padding-top: 5rem;
        max-width: 100% - 15%;
    }

    .first_column{
        margin-right:2rem;
        border-radius: 2rem;
        box-shadow: 0 3px 8px #888888;
        height:38rem;
        border-spacing: 2rem;
        background-color: $white;
        
    }
    .second_column{
        margin-left:2rem;
        border-radius: 2rem;
        // box-shadow: 0 3px 8px #888888;
        height:38rem;
        border-spacing: 2rem;
        display: inline-block;
        
        // background-color: $white;

        .checkbox{
            padding: 1rem;
        float: left;
        clear: left;
        }

        .button{
            padding-top:20rem;
        }
    }

}