.card{
    position: absolute;
    height:8rem;
    width: 5rem;
    padding:2rem;
    background: $white;
    border-radius: 5px;
    box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
}

.selected{
    position: absolute;
    height:8rem;
    width: 5rem;
    padding:2rem;
    border-color: $mainGreen;
    background: $white;
    border-radius: 5px;
    box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
}
