.card{
    height:13rem;
    width: 16rem;
    background: $white;
    border-radius: 5px;

    .graph{
        padding-top: 1rem;
        width: 13rem;
        height: 9rem;
        display: block;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    
    h2{
        color: $txtCol;
        font-size: 1.5rem;
        font-weight: bold;
    }
    
}


