.card{
    position: absolute;
    height:16rem;
    width: 20rem;
    background: $white;
    border-radius: 5px;
    box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
}

.selected{
    position: absolute;
    height:8rem;
    width: 5rem;
    padding:2rem;
    border-color: $mainGreen;
    background: $white;
    border-radius: 5px;
    box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
}

.graph{
    width: 12rem;
    height: 8rem;
    display: block;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
